/** {
	border: 1px dashed black;
}
*/

body {
	margin: 0; 		
    font-family: arial;
}

a {
	color: #404040;
	text-decoration: none;
    font-size: 13px;
}

a:hover {
	text-decoration: underline;
}

img {
	cursor: pointer;
}

.navbar {
	height: 40px;
	margin-top: 10px;
	float: right;
}

.navbar a, .navbar img{
	display: inline-block;
	padding: 10px;
    cursor: pointer;
    vertical-align: middle;
}

footer {
	background-color: #F2F2F2;
	position: absolute;
	bottom: 0;
	width: 99.99%;
	border-top: 1px solid #E4E4E4;
	margin: 0;
	height: 40px;
}

#left {
	float: left;
}

#right {
	float: right;
}

#left, #right {
	padding: 10px 15px;
}
#left a, #right a {
	padding: 0 15px;
	color: #666666;
}

input[type=text] {
	position: relative;
	left: 211px;
	width: 520px;
	height: 23px;
	margin: auto;
	border: 1px solid #D8D8D8;
}

input[type=text]:hover {
	border-color: gray;
}

.search img {
	z-index: 1;
	position: absolute;
	right: 403px;
	bottom: 351px;
}
.center {
	clear: both;
	padding: 150px;
}

.logo img {
	margin: auto;
	position: relative;	
	left: 338px;
	margin-bottom: 10px;
}

.result {
	position: relative;
	left: 355px;
	width: 400px;
}

input[type=button] {
	font-family: arial;
	height: 30px;
	background-color: #F2F2F2;
	border: 1px solid #D8D8D8;
	border-radius: 2px;
	margin: 10px 5px;
}
input[type=button]:hover {
	border-color: gray; 
}
